[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
levenshtein = "*"
nltk = "*"
beautifulsoup4 = "*"
collatex = "*"
graphviz = "*"
fuzzy-search = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"
